
.App {
	overflow-x: hidden;
}

.Auth {
	margin-top: 8em;
}

body {
	font-family: 'Rubik', sans-serif;
}

.EntryTable, .CreateQuiz, .CreateResource, .RemixQuiz, .RemixResource, .Comments{
	margin-top: 4em;
}

.EntryOptions{
	margin-top: 4em;
}


