.App {
	overflow-x: hidden;
	overflow-y: hidden;
}

.Auth {
	margin-top: 8em;
}

body {
	font-family: 'Rubik', sans-serif;
}

.EntryTable, .CreateQuiz, .CreateResource, .RemixQuiz, .RemixResource, .Comments{
	margin-top: 4em;
}


